<?xml version="1.0" encoding="UTF-8"?>
<configdata>
	<production>
		<database>
			<adapter>pdo_mysql</adapter>
			<params>
				<host>localhost</host>
				<username>username</username>
				<password>password</password>
				<dbname>dbname</dbname>
			</params>
		</database>
		<file>
			<path>
				<storage>APPLICATION_PATH/../data/storage</storage>
				<cache>APPLICATION_PATH/../data/cache</cache>
				<translation>APPLICATION_PATH/../data/translations</translation>
			</path>
		</file>
		<languages>
			<default>it_IT</default>
			<avaible>
				<it_IT>1</it_IT>
				<!--
				<it>0.7</it>
				<en>0.5</en>
				<en_EN>0.5</en_EN>
				<en_GB>0.3</en_GB>
				<en_US>0.3</en_US>
				-->
			</avaible>
		</languages>
		<plugins>
			<acl>
				<className>plugins_Acl</className>
				<stackIndex>101</stackIndex>
			</acl>
			<menu>
				<className>plugins_Menu</className>
				<stackIndex>1001</stackIndex>
			</menu>
		</plugins>
		<modules>
			<default>
				<classes>
					<menu>true</menu>
					<acl>false</acl>
				</classes>
				<viewHelpers>false</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>false</translations>
			</default>
			<estate>
				<classes>
					<menu>true</menu>
					<acl>true</acl>
				</classes>
				<viewHelpers>true</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>true</translations>
			</estate>
			<page>
				<classes>
					<menu>true</menu>
					<acl>true</acl>
				</classes>
				<viewHelpers>false</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>false</translations>
			</page>
			<menu>
				<classes>
					<menu>true</menu>
					<acl>true</acl>
				</classes>
				<viewHelpers>false</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>false</translations>
			</menu>
			<file>
				<classes>
					<menu>false</menu>
					<acl>true</acl>
				</classes>
				<viewHelpers>false</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>false</translations>
			</file>
			<tools>
				<classes>
					<menu>t</menu>
					<acl>false</acl>
				</classes>
				<viewHelpers>true</viewHelpers>
				<actionHelpers>true</actionHelpers>
				<translations>false</translations>
			</tools>
			<config>
				<classes>
					<menu>true</menu>
					<acl>true</acl>
				</classes>
				<viewHelpers>false</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>false</translations>
			</config>
			<!-- 
			<user>
				<classes>
					<menu>true</menu>
					<acl>true</acl>
				</classes>
				<viewHelpers>false</viewHelpers>
				<actionHelpers>false</actionHelpers>
				<translations>false</translations>
			</user>
			-->
		</modules>
	</production>
	<testing extends="production"></testing>
</configdata>